html, body {
  margin: 0;
  padding: 0;
}

:root {
    /*General Colours*/
  --link-text-light: #007BFF;
  --link-text-dark: #00c8ff;
  --link-text-contrast: #E34879;
    /*Light Mode Colour Scheme*/
  --page-background-light: #fff;
  --page-text-light: #25273C;
  --switch-background-light: #4cf0ff;
  --switch-border-light: #25273C;
    /*Dark Mode Colour Scheme*/
  --page-background-dark: #161722;
  --page-text-dark: #E4E5F1;
  --switch-background-dark: #080037;
  --switch-border-dark: #CACDE8;
    /*Gradients*/
  --header-gradient-green: linear-gradient(to bottom, rgb(0, 255, 204), rgb(0, 185, 148));
  --header-gradient-blue: linear-gradient(to bottom, rgb(0, 163, 255), rgb(0, 140, 178));
  --button-gradient-blue: linear-gradient(to bottom, rgb(0, 72, 255), rgb(0, 50, 178));
  --button-gradient-purple: linear-gradient(to bottom, #5816ff, #3300b3);
  --button-gradient-orange: linear-gradient(to bottom, rgb(255, 123, 0), rgb(173, 84, 0));
  --button-gradient-pink: linear-gradient(to bottom, #E34879, #912749);
  --button-gradient-red: linear-gradient(to bottom, #ff0000, #b00000);
}

/*Page Properties*/
.page-body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  line-height: 1.8;
  background-color: var(--page-background-light);
  color: var(--page-text-light);
  transition: background-color 0.5s, color 0.5s;
  padding: 10px;
}

#toggleSwitch:checked ~ .page-body {
  background-color: var(--page-background-dark);
  color: var(--page-text-dark);
}

/*Header Elements*/
.header {
  width: 100%;
  background: var(--header-gradient-blue);
  color: var(--page-text-light);
  padding: 5px 5px 12px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 0;
}

#toggleSwitch:checked ~ .header {
  color: var(--page-text-light);
}

.link-container {
  max-width: 50%;
  margin-left: 40%;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

.button { /*Header Links*/
  max-width: 180px;
  align-items: center;
  width: 180px;
  padding: 6px 0px;
  background: var(--button-gradient-purple);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
  position: relative;
  z-index: 1;
}

.button:hover {
  background: var(--button-gradient-pink);
  text-decoration: none;
}

.icon { /*Button Icons*/
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.github::before {
  content: '';
  background: url('./icons/github.svg') center/cover;
  position: absolute;
  left: 10px;
  top: 7px;
  width: 18px;
  height: 18px;
}

.blackboard::before {
  content: '';
  background: url('./icons/chalkboard-solid.svg') center/cover;
  position: absolute;
  left: 10px;
  top: 7px;
  width: 18px;
  height: 18px;
}

.materials::before {
  content: '';
  background: url('./icons/book-solid.svg') center/cover;
  position: absolute;
  left: 10px;
  top: 7px;
  width: 18px;
  height: 18px;
}

.home::before {
  content: '';
  background: url('./icons/house-solid.svg') center/cover;
  position: absolute;
  left: 10px;
  top: 7px;
  width: 18px;
  height: 18px;
}

/*Light/Dark Mode Switch*/
#toggleSwitch {
  display: none;
}

#toggleLabel {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 20px;
  background-color: var(--switch-background-light);
  border: 3px solid var(--switch-border-light);
  border-radius: 25px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  padding: 3px;
}

#toggleSwitch:checked + #toggleLabel {
  background-color: var(--switch-background-dark);
  border: 3px solid var(--switch-border-dark);
}

#toggleSwitch + #toggleLabel::before {
  content: '\1F31E'; /*Sun*/
  font-size: 18px;
  margin-left: 2px;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 3px;
}

#toggleSwitch:checked + #toggleLabel::before {
  content: '\1F31D'; /*Moon*/
  font-size: 18px;
  margin-left: auto;
  margin-right: 2px;
  margin-top: 1px;
  margin-bottom: 3px;
}

/*Button List Elements for Lecture Links*/
.button-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.button-list li {
  width: 18%;
  margin: 10px;
}

.button-list a {
  max-width: 200px;
  display: block;
  padding: 8px 0px 8px 0px;
  background: var(--button-gradient-blue);
  color: #E4E5F1;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
}

.button-list a:hover {
  background: var(--button-gradient-pink);
}

/*Footer Element*/
.footer {
  width: 100%;
  background: var(--header-gradient-blue);
  color: var(--page-text-light);
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0.3, 0, 0);
  position: relative;
  bottom: 0;
  align-items: center;
  z-index: 0;
}

/*Link Styling*/
a {
  margin: 0 auto;
  color: var(--link-text-light);
}

.page-body a:not(.button-list a):hover {
  color: var(--link-text-contrast);
}

#toggleSwitch:checked ~ .page-body a:not(.button-list a) {
  color: var(--link-text-dark);
}

#toggleSwitch:checked ~ .page-body a:not(.button-list a):hover {
  color: var(--link-text-contrast);
}

/*General Styling*/
h1, h2, p {
  transition: color 0.5s;
  margin: 0;
}

h1, h2 {
  margin: 0 auto;
}

p {
  margin: 0 auto;
}

/* Responsive design for smaller screens - In Progress*/
@media screen and (max-width: 768px) {

  .header {
    padding-bottom: 1.2em;
  }

  .link-container {
    max-width: 40%;
    margin-left: 50%;
    padding-top: 10px;
  }

  .button {
    font-size: 0.5em;
    max-width: 90px;
    align-items: center;
    width: 90px;
    padding: 3px 0px;
  }

  .icon {
    display: none;
  }

  #toggleLabel {
    width: 25px;
    height: 10px;
  }

  #toggleSwitch + #toggleLabel::before,
  #toggleSwitch:checked + #toggleLabel::before{
    font-size: 0.5em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}  